* {
  margin: 0;
  padding: 0;
  border: solid red 1px;
}

html {
  font-size: 10px;
}

.songs-container {
  display: flex;
  flex-direction: column;
}

.song {
  display: flex;
  height: 8rem;
  padding: 1.2rem;
  align-items: center;
}

.song img {
  width: 8rem;
  object-fit: cover;
}