.player-section {
    margin-top: 5rem;
    padding: 3rem;
    width: 25%;
    background-color: #222;
    position: fixed;
    top: 10rem;
    right: 5rem;
}

.current-music {
    width: 100%;
    background-color: #555;
    padding: 2rem;
}

.current-music img {
    width: 100%;
    display: block;
}

.current-music-info {
    background-color: #555;
    margin-top: 2rem;
}

.current-music-title {
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
}

.current-music-text {
    font-weight: bold;
    font-size: 2rem;
    color: #D9D9D9;
}

.player-controls {
    margin-top: 5rem;
    width: 100%;
    background-color: #555;
    padding: 2rem;
    position: relative;
}


.player-controls-bottons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-controls-bottons button {
    background: none;
    border: none;
}

.player-controls-bottons #shuffle {
    position: absolute;
    left: 3rem;
}

.player-controls-bottons #prev {
    margin-left: 3rem;
}

.player-controls-bottons #next {
    margin-right: 3rem;
}

.player-controls-progresses {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player-controls-progresses span {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}

.player-controls-progresses [type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

.player-controls-progresses input[type="range"]::-webkit-slider-runnable-track {
	/* appearance: none;
	-webkit-appearance: none; */
    height: 0.3rem;
    border-radius: 1rem;
    background: white;
}

.player-controls-progresses input[type="range"]::-webkit-slider-thumb {
	/* appearance: none;
	-webkit-appearance: none; */
    position: relative;
    height: 1rem;
    width: 1rem;
    margin-top: -0.7rem;
    background-color: white;
    cursor: pointer;
}

.player-controls-progresses #progress {
    width: 40%;
}

.player-controls-progresses #volume {
    width: 30%;
}

.player-controls-progresses img {
    margin: 0rem 1rem 0rem 2rem;
}