* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
    height: 100vh;
}
  
body {
    background-color: #333 !important;
    padding: 1.2rem;
    overflow: hidden;
}

.search-section {
    width: 65%;
    height: 100vh;
    padding: 3rem 6rem;
    overflow: hidden;
}

.search-section h1 {
    color: #eee;
    font-size: 5rem;
    font-weight: bold;
    padding: 5rem 0.2rem;
}

.search-results {
    display: none;
}

main {
    margin-top: 5rem;
    width: 70%;
    height: 70%;
}
  
.carousel {
    width: 100%;
    overflow: hidden;
    border-radius: 1.2rem;
}
  
.carousel-item img {
    height: 58rem;
    object-fit: cover;
    object-position: 40% 40%;
}