* {
  /* border: solid red 1px; */
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  padding: 1.2rem;
}

.carousel {
  width: 70%;
  overflow: hidden;
  border-radius: 1.2rem;
}

.carousel-item img {
  height: 58rem;
  object-fit: cover;
  object-position: 40% 40%;
}


